@model WebApplication1.Models.Auditorium

@{
    ViewData["Title"] = "Редактирование";
}

<h2>Редактирование</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AuditoriumNumber" class="control-label"></label>
                <input asp-for="AuditoriumNumber" class="form-control" />
                <span asp-validation-for="AuditoriumNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditoriumCapacity" class="control-label"></label>
                <input asp-for="AuditoriumCapacity" class="form-control" />
                <span asp-validation-for="AuditoriumCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuditoriumType" class="control-label"></label>
                <select asp-for="AuditoriumType.AuditoriumAbbreviation" class="form-control" asp-items="ViewBag.AuditoriumTypeId"></select>
                @*<span asp-validation-for="AuditoriumTypeId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Отмена</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
