@model WebApplication1.Models.Subject

@{
    ViewData["Title"] = "Удаление аудитории";
}

<h2>Вы действительно хотите удалить этот предмет?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectAbbreviation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectAbbreviation)
        </dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubjectName)
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index">Отмена</a>
    </form>
</div>
