<h1>Список типов аудиторий</h1>
<input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>Аббревиатура</td>
            <td>Полное наименование</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of auditoriumTypes">
            <ng-template [ngIf]="auditoriumType?.id != a.id" [ngIfElse]="edit">
                <td>{{a?.auditoriumAbbreviation}}</td>
                <td>{{a?.auditoriumName}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editAuditoriumType(a)">Изменить</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(a)">Удалить</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="auditoriumType.auditoriumAbbreviation" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="auditoriumType.auditoriumAbbreviation" class="form-control" />
    </td>
    <td>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
    <div class="form-group">
        <label>Аббревиатура</label>
        <input type="text" [(ngModel)]="auditoriumType.auditoriumAbbreviation" class="form-control" />
    </div>
    <div class="form-group">
        <label>Полное наименование</label>
        <input type="text" [(ngModel)]="auditoriumType.auditoriumName" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>