<div class="container">
    <form (submit)="setFilter(speciality.value, faculty.value)">
        <div class="form-group">
            <select class="form-control" id="speciality" #speciality>
                <option *ngFor="let s of specialities" value="{{s.specialityAbbreviation}}"> {{s.specialityAbbreviation}}</option>
            </select>
            <select class="form-control" id="faculty" #faculty>
                <option *ngFor="let f of faculties"> {{f.facultyAbbreviation}}</option>
            </select>
            <br/>
            <button type="submit" class="btn btn-success">Поиск</button>
        </div>
    </form>
    <br/><br />
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Понедельник</td>
                    <td>Вторник</td>
                    <td>Среда</td>
                    <td>Четверг</td>
                    <td>Пятница</td>
                    <td>Суббота</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of timetables">
                    <td>
                        <div class="alert alert-success" *ngIf="t.dayOfWeek == 0">  
                            <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                            <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                            <p> {{t.teacher.fullName}}</p>
                            <p> {{t.auditorium.auditoriumNumber}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="alert alert-success" *ngIf="t.dayOfWeek == 1">
                            <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                            <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                            <p> {{t.teacher.fullName}}</p>
                            <p> {{t.auditorium.auditoriumNumber}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="alert alert-success" *ngIf="t.dayOfWeek == 2">
                            <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                            <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                            <p> {{t.teacher.fullName}}</p>
                            <p> {{t.auditorium.auditoriumNumber}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="alert alert-success" *ngIf="t.dayOfWeek == 3">
                            <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                            <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                            <p> {{t.teacher.fullName}}</p>
                            <p> {{t.auditorium.auditoriumNumber}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="alert alert-success" *ngIf="t.dayOfWeek == 4">
                            <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                            <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                            <p> {{t.teacher.fullName}}</p>
                            <p> {{t.auditorium.auditoriumNumber}}</p>
                        </div>
                    </td>
                    <td>
                        <div class="alert alert-success" *ngIf="t.dayOfWeek == 5">
                            <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                            <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                            <p> {{t.teacher.fullName}}</p>
                            <p> {{t.auditorium.auditoriumNumber}}</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>






<!--<div class="alert alert-success" *ngFor="let a of auditoriums">
    <p>{{a.auditoriumNumber}}, {{a.auditoriumType.auditoriumAbbreviation}}</p>
    <p>{{a.auditoriumCapacity}}</p>
</div>-->