<div class="container">
    <form (submit)="setFilter(speciality.value, faculty.value, group.value)">
        <div class="form-group">
            <br/>
            <table class="table"> 
                <tr>
                    <td style="padding:10px 10px 10px 10px">
                        <select class="form-control" id="speciality" #speciality>
                            <option *ngFor="let s of specialities" value="{{s.specialityAbbreviation}}"> {{s.specialityAbbreviation}} </option>
                        </select>
                    </td>
                    <td style="padding:10px 10px 10px 10px">
                        <select class="form-control" id="faculty" #faculty>
                            <option *ngFor="let f of faculties" value="{{f.facultyAbbreviation}}"> {{f.facultyAbbreviation}}</option>
                        </select>
                    </td>
                    <td style="padding:10px 10px 10px 10px">
                        <select class="form-control" id="group" #group>
                            <option *ngFor="let g of groups" value="{{g.code}}"> {{g.code}} {{g.speciality.specialityAbbreviation}}</option>
                        </select>
                    </td>
                    <td style="padding:10px 10px 10px 10px">
                        <button type="submit" class="btn btn-success">Поиск</button>
                    </td>
                </tr>
            </table>
        </div>
    </form>
    <br/>
    <div class="container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Понедельник</td>
                    <td>Вторник</td>
                    <td>Среда</td>
                    <td>Четверг</td>
                    <td>Пятница</td>
                    <td>Суббота</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table>
                            <tr *ngFor="let t of timetables">
                                <td>
                                    <div class="alert alert-success" *ngIf="t.dayOfWeek == 0">
                                        <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                                        <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                                        <p> {{t.teacher.fullName}}</p>
                                        <p> {{t.auditorium.auditoriumNumber}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let t of timetables">
                                <td>
                                    <div class="alert alert-success" *ngIf="t.dayOfWeek == 1">
                                        <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                                        <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                                        <p> {{t.teacher.fullName}}</p>
                                        <p> {{t.auditorium.auditoriumNumber}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let t of timetables">
                                <td>
                                    <div class="alert alert-success" *ngIf="t.dayOfWeek == 2">
                                        <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                                        <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                                        <p> {{t.teacher.fullName}}</p>
                                        <p> {{t.auditorium.auditoriumNumber}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let t of timetables">
                                <td>
                                    <div class="alert alert-success" *ngIf="t.dayOfWeek == 3">
                                        <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                                        <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                                        <p> {{t.teacher.fullName}}</p>
                                        <p> {{t.auditorium.auditoriumNumber}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let t of timetables">
                                <td>
                                    <div class="alert alert-success" *ngIf="t.dayOfWeek == 4">
                                        <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                                        <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                                        <p> {{t.teacher.fullName}}</p>
                                        <p> {{t.auditorium.auditoriumNumber}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table>
                            <tr *ngFor="let t of timetables">
                                <td>
                                    <div class="alert alert-success" *ngIf="t.dayOfWeek == 5">
                                        <p> {{t.numbersubjectofday.begin}} - {{t.numbersubjectofday.end}}</p>
                                        <p> {{t.subject.subjectAbbreviation}} ({{t.subject.subjectName}})</p>
                                        <p> {{t.teacher.fullName}}</p>
                                        <p> {{t.auditorium.auditoriumNumber}}</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>